* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

header {
    background-color: rgb(23, 62, 115);
    color: white;
    padding: 2rem;
}

.intro_title {
    margin: 1rem 2rem;
}

.intro_text {
    margin: 1rem 2rem;
}

.filters {
    background-color: rgb(225, 222, 223);
    margin: 1rem 2rem;
    padding: 2rem 1rem;
}

.filters_box {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.gender {
    margin-right: 2rem;
}

.age {
    margin-right: 2rem;
}

.size {
    margin-right: 2rem;
}

.personality_traits {
    margin-right: 2rem;
}

.filter_title {
    font-weight: bold;
    margin-top: 1rem;
}

.dog_box {
    margin: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
}

.dog_pics {
    max-width: 32%;
    margin-right: .5rem;
}

.image {
    width: 100%; 
    /* height: auto; */
}

.dog_name {
    font-weight: bold;
}

.attributes_box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}

.dog_attributes {
    font-family: Oswald;
    font-size: .8rem;
    margin-right: .5rem;
    margin-top: .2rem;
    padding: .2rem;
    background-color: rgb(144, 221, 240);
    border-radius: 10px;
}

.nav {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    height: 15rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.donate {
    width: 33.33%;
    text-align: center;
    padding-top: 6.5rem;
    /* line-height: 15rem; */
    background-image: url(starter_files/images/donate.jpg);
    background-color: rgb(100, 114, 240);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.donate:hover {
    background-blend-mode: normal;
    /* Because <gradient>s belong to the <image> data type, they can only be used where <image>s can be used. For this reason, linear-gradient() won't work on background-color and other properties that use the <color> data type. */
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
        no-repeat center/cover url(starter_files/images/donate.jpg);
}

.volunteer {
    width: 33.33%;
    text-align: center;
    padding-top: 6.5rem;
    /* line-height: 15rem; */
    background-image: url(starter_files/images/volunteer.jpg);
    background-color: rgb(100, 114, 240);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.volunteer:hover {
    background-blend-mode: normal;
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
        no-repeat center/cover url(starter_files/images/volunteer.jpg);
}

.our_location {
    width: 33.33%;
    text-align: center;
    padding-top: 6.5rem;
    /* line-height: 15rem; */
    background-image: url(starter_files/images/location.png);
    background-color: rgb(100, 114, 240);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.our_location:hover {
    background-blend-mode: normal;
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
        no-repeat center/cover url(starter_files/images/location.png);
}
